{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
<main>
    {{template "header"}}
    {{ range .Blocks}}
        {{template "block"}}
    {{end}}
</main>
{{template "footer"}}
</body>
</html>
{{end}}